html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  border:none;
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
#app{
  height: 100%;
}